footer {
    background-color: var(--color-primary-4);
    position: relative;
    height: 300px;
}

#wave {
    margin-top: -1px;
}

#footer {
    display: flex;
    justify-content: space-around;
}
