footer {
    background-color: var(--color-primary-4);
    position: relative;
}

#wave {
    margin-top: -1px;
}

#footer {
    display: flex;
    justify-content: space-around;
}

#footer > div {
    margin: 20px;
}

#contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact-info > p a {
    color: var(--color-neutral-1);
    transition: all 0.2s ease;
    text-decoration: none;
    background-color: var(--color-primary-2);
    border-radius: 8px;
    padding: 5px 10px;
}

#contact-info > p a:hover {
    color: #a5a5a5;
}

#schedules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#schedules h1 {
    font-size: 1.3rem;
}

#schedules h2 {
    font-size: 1.2rem;
    font-weight: 450;
}

.store-open {
    color: #11bb82;
}

.store-closed {
    color: #bb1111;
}

.store-almost-closed {
    color: #ec7e00;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}

#schedules h3 {
    font-size: 1.05rem;
}

#schedules p {
    font-size: 1rem;
}

#copyright {
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 700px) {
    #footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
