#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    min-height: calc(100vh - 111px);
    background:linear-gradient(to bottom, transparent 60%, var(--color-primary-2));
    overflow: hidden;
}

#home .title-logo {
    font-size: 6rem;
    color: var(--color-neutral-1);
}

#home .subtitle-logo {
    font-size: 1.8rem;
}

#home .swiper {
    margin-top: 50px;
    font-size: 4rem;
    padding: 10px;
    width: auto;
    height: 120px;
    user-select: none;
}

@media screen and (max-width: 900px) {
    #home .title-logo {
        font-size: 4rem;
    }

    #home .subtitle-logo {
        font-size: 1.5rem;
    }

    #home .swiper {
        font-size: 3rem;
    }
}